.pop-up-container {
    align-items: center;
    background-color: rgba(0,0,0, .1);
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;

    > div {
        background-color: white;
        border: 1px solid @vizzy-black;
        border-radius: 3px;
        padding: 20px;
        width: 400px;
    }

    .btn-container{
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}
