<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vizzy</title>

    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/main.css" rel="stylesheet" type="text/css">

    <script src="helpers/context_menu.js"></script>
    <script src="helpers/external_links.js"></script>

    <script>require('electron-connect').client.create()</script>

</head>
<body>

    <div class="app">
        <div v-if="musicInit" class="vizzy">
            <transition name="slide">
                <div v-if="state.home" class="home">
                    <div class="vizzy-select-options">
                        <h1 class="blue">Your Vizzies</h1>
                    </div>
                    <div class="vizzies">
                        <div class="vizzy-container" v-for="vizzy in vizzies">
                            <div class="vizzy-picture">
                                <div class="vizzy-options">
                                    <div class="vizzy-options-wrapper">
                                        <h3 class="agree-btn" v-on:click="moveState('player')">play <i class="fa fa-play-circle" aria-hidden="true"></i></h3>
                                        <h3 class="edit-btn" v-on:click="moveState('editor')">edit <i class="fa fa-pencil" aria-hidden="true"></i></h3>
                                    </div>
                                </div>
                            </div>
                            <h2>Vizzy</h2>
                        </div>
                    </div>
                </div>
            </transition>
            <transition name="slide">
                <div v-if="state.player" class="player">
                    <div class="canvas-container">
                        <div class="canvas">
                            <div class="stretchVG">
                                <svg id="svg" class="vizzy-svg"></svg>
                            </div>
                        </div>
                    </div>
                    <h3 class="edit-btn" v-on:click="moveState('home')">Go back</h3>
                </div>
            </transition>
            <transition name="slide">
                <div v-if="state.editor" class="editor-container">
                    <div class="editor-nav panel-shadow">
                        <div class="path">
                            <h3 v-on:click="moveState('home')">Home </h3>
                            <i class="fa fa-caret-right blue" aria-hidden="true"></i>
                            <h3> Vizzy Name</h3>
                        </div>
                    </div>
                    <div class="editor">
                        <div class="shape-selector">
                            <div class="create-container">
                                <h4 class="edit-btn" v-on:click="addShape">Create Shape</h4>
                            </div>
                            <div class="shape" v-for="(shape, i) in canvas.shapes" v-bind:class="{ selected: shape.isSelected }" v-on:click="selectShape(i)">
                                <h3>{{shape.id}}</h3>
                            </div>
                        </div>
                        <div class="canvas-container">
                            <div class="canvas">
                                <div class="stretchVG">
                                    <svg id="svg" class="vizzy-svg"></svg>
                                </div>
                            </div>
                        </div>
                        <div class="shape-editor-container">
                            <div class="shape-editor" v-if="selectedShape.shape">
                                <div class="name">
                                    <h4 v-if="!editor.editId">{{selectedShape.shape.id}}&ensp;<i v-on:click="editor.editId=true" class="fa fa-pencil" aria-hidden="true"></i></h4>
                                    <div v-else>
                                        <input type="text" v-model="selectedShape.shape.id" v-on:keyup.enter="editor.editId=false"></input><i v-on:click="editor.editId=false" class="fa fa-check-square" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="position" v-on:click="toggleShapePanel('pos')">
                                    <h6>position&ensp;<i v-if="!selectedShape.pos" class="fa fa-caret-right" aria-hidden="true"></i><i v-else class="fa fa-caret-down" aria-hidden="true"></i></h6>
                                </div>
                                <div class="shape-attribute" v-bind:style="{display: selectedShape.pos || 'none'}">
                                    <p>X-axis:</p>
                                    <input type="text" v-model.number="selectedShape.shape.position.minX"></input>
                                    <i class="fa fa-arrows-h" aria-hidden="true"></i>
                                    <input type="text" v-model.number="selectedShape.shape.position.maxX"></input>
                                    <p>Y-axis:</p>
                                    <input type="text" v-model.number="selectedShape.shape.position.minY"></input>
                                    <i class="fa fa-arrows-h" aria-hidden="true"></i>
                                    <input type="text" v-model.number="selectedShape.shape.position.maxY"></input>
                                </div>
                                <div class="orientation" v-on:click="toggleShapePanel('or')">
                                    <h6>orientation&ensp;<i v-if="!selectedShape.or" class="fa fa-caret-right" aria-hidden="true"></i><i v-else class="fa fa-caret-down" aria-hidden="true"></i></h6>
                                </div>
                                <div class="shape-attribute" v-bind:style="{display: selectedShape.or || 'none'}">
                                    <p>Angle:</p>
                                    <input type="text" v-model.number="selectedShape.shape.minAngle"></input>
                                    <i class="fa fa-arrows-h" aria-hidden="true"></i>
                                    <input type="text" v-model.number="selectedShape.shape.maxAngle"></input>
                                </div>
                                <div class="size" v-on:click="toggleShapePanel('siz')">
                                    <h6>size&ensp;<i v-if="!selectedShape.siz" class="fa fa-caret-right" aria-hidden="true"></i><i v-else class="fa fa-caret-down" aria-hidden="true"></i></h6>
                                </div>
                                <div class="shape-attribute" v-bind:style="{display: selectedShape.siz || 'none'}">
                                    <p>Width:</p>
                                    <input type="text" v-model.number="selectedShape.shape.minWidth"></input>
                                    <i class="fa fa-arrows-h" aria-hidden="true"></i>
                                    <input type="text" v-model.number="selectedShape.shape.maxWidth"></input>
                                    <p>Height:</p>
                                    <input type="text" v-model.number="selectedShape.shape.minHeight" number></input>
                                    <i class="fa fa-arrows-h" aria-hidden="true"></i>
                                    <input type="text" v-model.number="selectedShape.shape.maxHeight"></input>
                                </div>
                                <div class="color" v-on:click="toggleShapePanel('col')">
                                    <h6>color&ensp;<i v-if="!selectedShape.col" class="fa fa-caret-right" aria-hidden="true"></i><i v-else class="fa fa-caret-down" aria-hidden="true"></i></h6>
                                </div>
                                <div class="shape-attribute" v-bind:style="{display: selectedShape.col || 'none'}">
                                    <p>Hue</p>
                                    <div class="colors">
                                        <div class="color" v-bind:class="{selected: editor.minColorSelected}" v-bind:style="{backgroundColor: selectedShape.minColor}" v-on:click="editor.minColorSelected=true">
                                        </div>
                                        <i class="fa fa-arrows-h fa-2x" aria-hidden="true"></i>
                                        <div class="color" v-bind:class="{selected: !editor.minColorSelected}" v-bind:style="{backgroundColor: selectedShape.maxColor}" v-on:click="editor.minColorSelected=false">
                                        </div>
                                    </div>
                                    <div v-if="editor.minColorSelected">
                                        <div class="red">
                                            <input type="range" v-model.number="selectedShape.shape.minColor.red" min="0" max="255" v-on:change="setColor">
                                        </div>
                                        <div class="green">
                                            <input class="green" type="range" v-model.number="selectedShape.shape.minColor.green" min="0" max="255" v-on:change="setColor">
                                        </div>
                                        <div class="blue">
                                            <input class="blue" type="range" v-model.number="selectedShape.shape.minColor.blue" min="0" max="255" v-on:change="setColor">
                                        </div>
                                    </div>
                                    <div v-else>
                                        <div class="red">
                                            <input type="range" v-model.number="selectedShape.shape.maxColor.red" min="0" max="255" v-on:change="setColor">
                                        </div>
                                        <div class="green">
                                            <input class="green" type="range" v-model.number="selectedShape.shape.maxColor.green" min="0" max="255" v-on:change="setColor">
                                        </div>
                                        <div class="blue">
                                            <input class="blue" type="range" v-model.number="selectedShape.shape.maxColor.blue" min="0" max="255" v-on:change="setColor">
                                        </div>
                                    </div>
                                    <p>Opacity</p>
                                    <p>Link To Attribute <input type="checkbox" id="myCheck"></p>                      

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </transtion>
        </div>
        <music-bar v-on:init="musicInitialize()"></music-bar>
    </div>

    <template id="music-bar">
        <div class="music-bar-container panel-shadow" v-bind:style="{ flex: flexOpt }">
            <div v-if="!musicLoaded" class="music-select">
                <h1>Welcome to Vizzy!</h1>
                <p>Please show us which directory you store your local music files in so Vizzy may use them for playback.</p>
                <h2 class="panel-btn" v-on:click="openFileExplorer()">Locate Music</h2>
            </div>
            <div class="music-viewer-container" v-bind:style="{display: libraryView, height: libraryHeight}">
                <div class="music-viewer panel-shadow">
                    <div class="music-viewer-header">
                        <h2 class="blue">Library</h2>
                        <h3 class="panel-btn small" v-on:click="libraryView='none'">x</h3>
                    </div>
                    <div class="viewer-options">
                        <div class="music-header">
                            <div><h5>Title</h5></div>
                            <div><h5>Artist</h5></div>
                            <div><h5>Album</h5></div>
                        </div>
                    </div>
                    <div class="music">
                        <div v-for="(song, index) in library" v-on:click="setCurrentSong(index)" class="song">
                            <div class="title"><img v-bind:src="song.picture"/><p>{{song.title}}</p></div>
                            <div class="artist"><p>{{song.artist}}</p></div>
                            <div class="album"><p>{{song.album}}</p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="music-bar">
                <div id="tracker" class="music-tracker">
                    <div id="drag-container" class="drag-container" v-bind:style="{ display: dragging }"></div>
                    <div class="inside-tracker" v-bind:style="{ width: percentageTime + '%' }">
                        <div class="tracker-decorator">
                        </div>
                    </div>
                </div>
                <div class="music-info">
                    <div class="song-info">
                        <img class="album-img" v-bind:src="currentSong.picture"/>
                        <div class="info">
                            <h5>{{currentSong.title}}</h5>
                            <p>{{currentSong.artist}}</p>
                        </div>
                    </div>
                    <div v-if="musicLoaded" class="music-controls">
                        <svg v-on:click="prev()" class="navigation" id="prev" viewBox="0 0 67 67"><title>prev</title><circle cx="33.5" cy="33.5" r="33.5"/><polygon points="29.49 33.5 46.9 43.55 46.9 23.45 29.49 33.5" style="fill:#fff"/><path d="M307.79,245.58l17.4,10a1.26,1.26,0,0,0,1.88-1.08v-20.1a1.26,1.26,0,0,0-1.88-1.08l-17.4,10a1.25,1.25,0,0,0,1.26,2.16l17.4-10-1.88-1.08v20.1l1.88-1.08-17.4-10A1.25,1.25,0,0,0,307.79,245.58Z" transform="translate(-278.93 -211)" style="fill:#fff"/><rect x="299.11" y="232.69" width="4.76" height="23.63" rx="1" ry="1" transform="translate(324.06 278) rotate(-180)" style="fill:#fff; stroke:#fff; stroke-miterlimit:10;stroke-width:0.5px"/></svg>

                        <svg v-if="isPlaying" v-on:click="pause()" id="pause" viewBox="0 0 67 67"><circle cx="33.5" cy="33.5" r="33.5"/><rect x="22.58" y="18.5" width="8.03" height="30" rx="2" ry="2" style="fill:#fff"/><rect x="36.39" y="18.5" width="8.03" height="30" rx="2" ry="2" style="fill:#fff"/></svg>

                        <svg v-if="!isPlaying" v-on:click="play()" id="play" viewBox="0 0 67 67"><circle cx="33.5" cy="33.5" r="33.5"/><polygon points="47.59 33.5 24.92 46.59 24.92 20.41 47.59 33.5" style="fill:#fff"/><path d="M400.7,241.26L378,254.35l5.64,3.24V231.41L378,234.65l22.67,13.09c4.19,2.42,8-4.06,3.79-6.48l-22.67-13.09a3.79,3.79,0,0,0-5.64,3.24v26.18a3.79,3.79,0,0,0,5.64,3.24l22.67-13.09C408.66,245.33,404.89,238.84,400.7,241.26Z" transform="translate(-355 -211)" style="fill:#fff"/></svg>

                        <svg v-on:click="next()" class="navigation" id="next" viewBox="0 0 67 67"><circle cx="33.5" cy="33.5" r="33.5"/><polygon points="37.51 33.5 20.11 43.55 20.11 23.45 37.51 33.5" style="fill:#fff"/><path d="M466.78,243.42l-17.4,10,1.88,1.08v-20.1l-1.88,1.08,17.4,10a1.25,1.25,0,0,0,1.26-2.16l-17.4-10a1.26,1.26,0,0,0-1.88,1.08v20.1a1.26,1.26,0,0,0,1.88,1.08l17.4-10A1.25,1.25,0,0,0,466.78,243.42Z" transform="translate(-429.91 -211)" style="fill:#fff"/><rect x="42.05" y="21.69" width="4.76" height="23.63" rx="1" ry="1" style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:0.5px"/></svg>
                    </div>
                    <div v-if="musicLoaded" class="music-options">
                        <h5 class="panel-btn" v-on:click="libraryView = 'flex';">Library</h5>
                    </div>
                </div>

                <audio id="vizzy-audio" v-bind:src="currentSong.path"></audio>
            </div>
        </div>
    </template>

    <script src="app.js"></script>
</body>
</html>
