.blue {
  color: #2f52e0;
}
.yellow {
  color: #f9cb40;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'NunitoExtra';
  src: url('../fonts/Nunito-ExtraBold.ttf');
}
@font-face {
  font-family: 'NunitoBold';
  src: url('../fonts/Nunito-Bold.ttf');
}
h1 {
  font-family: 'NunitoExtra';
  font-size: 36px;
}
h2 {
  font-family: 'NunitoBold';
  font-size: 32px;
}
h3 {
  font-family: 'NunitoBold';
  font-size: 24px;
}
h4 {
  font-family: 'NunitoBold';
  font-size: 22px;
}
h5 {
  font-family: 'NunitoBold';
  font-size: 18px;
}
h6 {
  font-family: 'NunitoBold';
  font-size: 16px;
  text-transform: uppercase;
}
p {
  font-family: 'OpenSans';
  font-weight: 18px;
}
.panel-btn {
  border: 3px solid #2f52e0;
  border-radius: 5px;
  color: #2f52e0;
  display: inline-block;
  padding: 10px 30px;
}
.panel-btn:hover {
  background-color: #2f52e0;
  color: white;
  cursor: pointer;
}
.agree-btn {
  background-color: #bced09;
  border-radius: 5px;
  color: white;
  display: inline-block;
  padding: 10px 15px;
  margin: 0;
}
.agree-btn:hover {
  background-color: #a9d408;
  cursor: pointer;
}
.disagree-btn {
  background-color: #ff715b;
  border-radius: 5px;
  color: white;
  display: inline-block;
  padding: 10px 15px;
  margin: 0;
}
.disagree-btn:hover {
  background-color: #ff5b42;
  cursor: pointer;
}
.edit-btn {
  background-color: #f9cb40;
  border-radius: 5px;
  color: white;
  padding: 10px 15px;
}
.wide {
  padding: 10px 30px;
}
.edit-btn:hover {
  background-color: #f7be0f;
  cursor: pointer;
}
.small {
  padding: 0px 5px;
}
.mgn-btm-10 {
  margin-bottom: 10px;
}
.mgn-rt-10 {
  margin-right: 10px;
}
.mgn-lft-10 {
  margin-left: 10px;
}
.mgn-top-10 {
  margin-top: 10px;
}
.home {
  display: flex;
  padding: 20px;
  overflow: auto;
  flex-direction: column;
  width: 100%;
}
.home .vizzy-select-options {
  padding-left: 15px;
}
.home .vizzies {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
.home .vizzies .vizzy-container {
  box-sizing: border-box;
  padding: 15px;
  width: 33%;
}
.home .vizzies .vizzy-container .delete {
  display: none;
}
.home .vizzies .vizzy-container .delete:hover {
  color: #ff715b;
  cursor: pointer;
}
.home .vizzies .vizzy-container .edit {
  display: none;
}
.home .vizzies .vizzy-container .edit:hover {
  color: #f9cb40;
  cursor: pointer;
}
.home .vizzies .vizzy-container:hover .delete,
.home .vizzies .vizzy-container:hover .edit {
  display: inline-block;
}
.home .vizzies .vizzy-container .vizzy-picture {
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 0;
  border: 1px solid #ced2d2;
  margin-bottom: 10px;
  padding-bottom: 60%;
  position: relative;
  width: 100%;
}
.home .vizzies .vizzy-container .vizzy-picture .vizzy-options {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
}
.home .vizzies .vizzy-container .vizzy-picture .vizzy-options .vizzy-options-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.home .vizzies .vizzy-container .vizzy-picture .vizzy-options .vizzy-options-wrapper h3 {
  margin: 0 5px;
}
.home .vizzies .vizzy-container .vizzy-picture .vizzy-options .vizzy-options-wrapper .share-btn {
  background-color: #385ae0;
  border-radius: 5px;
  color: white;
  display: inline-block;
  padding: 10px 15px;
}
.home .vizzies .vizzy-container .vizzy-picture .vizzy-options .vizzy-options-wrapper .share-btn:hover {
  background-color: #2f52e0;
  cursor: pointer;
}
.home .vizzies .vizzy-container .vizzy-picture .vizzy-options.show {
  visibility: visible;
}
.home .vizzies .vizzy-container:hover .vizzy-options {
  visibility: visible;
}
.home .vizzies .vizzy-container .vizzy-opts {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.home .vizzies .vizzy-container .vizzy-opts .vizzy-name {
  width: 80%;
}
.home .vizzies .vizzy-container .vizzy-opts .vizzy-name h2 {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.home .vizzies .vizzy-container .vizzy-opts .edit {
  margin-right: 10px;
}
.player {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.player:hover .edit-btn {
  display: block;
}
.player .edit-btn {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
}
.editor-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.editor-container .editor-nav {
  background-color: white;
  border-bottom: 1px solid #ced2d2;
  padding: 15px;
  position: relative;
  z-index: 50;
}
.editor-container .editor-nav .path h3 {
  display: inline-block;
  color: #2f52e0;
}
.editor-container .editor-nav .path h3:hover {
  cursor: pointer;
  text-decoration: underline;
}
.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.canvas-container .canvas {
  background-color: white;
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
  border: 1px solid #ced2d2;
}
.canvas-container .canvas .stretch-canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.canvas-container .canvas .stretch-canvas .vizzy-canvas {
  image-rendering: pixelated;
  width: 100%;
  height: 100%;
}
.editor {
  display: flex;
  flex: 1;
  flex-direction: row;
}
.editor > div {
  box-sizing: border-box;
  position: relative;
}
.editor .shape-selector {
  height: 100%;
  width: 200px;
  border-right: 1px solid #ced2d2;
  background-color: white;
  z-index: 2;
}
.editor .shape-selector .create-container {
  padding: 15px 15px;
  border-bottom: 1px solid #ced2d2;
}
.editor .shape-selector .shape {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid #ced2d2;
}
.editor .shape-selector .shape:hover .shape-move {
  display: flex;
}
.editor .shape-selector .shape .shape-name {
  flex: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}
.editor .shape-selector .shape .shape-move {
  color: #4c5b5c;
  display: none;
  flex-direction: column;
  font-size: 16px;
  line-height: 16px;
  padding-right: 15px;
}
.editor .shape-selector .shape .shape-move p:hover {
  color: #f9cb40;
}
.editor .shape-selector .shape.selected {
  background-color: #efefef;
  color: #f9cb40;
}
.editor .shape-selector .shape:hover {
  background-color: #efefef;
  cursor: pointer;
}
.editor .canvas-container {
  flex: 1;
  background-color: #ced2d2;
  padding: 15px;
  z-index: 1;
}
.editor .shape-editor-container {
  height: 100%;
  width: 200px;
  border-left: solid #ced2d2 1px;
  background-color: white;
  z-index: 2;
  overflow: auto;
}
.editor .shape-editor-container .shape-editor .name h4 {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.editor .shape-editor-container .shape-editor .name h4 i {
  font-size: 12px;
}
.editor .shape-editor-container .shape-editor .name input {
  margin-right: 5px;
  width: 80%;
}
.editor .shape-editor-container .shape-editor .shape-attribute {
  background-color: #efefef;
}
.editor .shape-editor-container .shape-editor .shape-attribute input[type="text"] {
  border: 1px solid #ced2d2;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-block;
  font-family: 'OpenSans';
  font-size: 18px;
  padding: 5px;
  text-align: center;
  width: 40%;
}
.editor .shape-editor-container .shape-editor .shape-attribute input[type="text"]:focus {
  outline: none;
  border: 1px solid #2f52e0;
}
.editor .shape-editor-container .shape-editor .shape-attribute .colors {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
  text-align: center;
}
.editor .shape-editor-container .shape-editor .shape-attribute .colors i {
  flex: 1;
}
.editor .shape-editor-container .shape-editor .shape-attribute .colors .color {
  box-sizing: border-box;
  display: flex;
  height: 50px;
  width: 50px;
  position: relative;
}
.editor .shape-editor-container .shape-editor .shape-attribute .colors .color.selected {
  border: 2px solid #2f52e0;
}
.editor .shape-editor-container .shape-editor > div {
  padding: 15px;
  border-bottom: solid #ced2d2 1px;
}
.editor .shape-editor-container .shape-editor > div p {
  margin: 10px 0;
}
.editor .shape-editor-container .shape-editor > div p:nth-child(1) {
  margin-top: 0;
}
.editor .shape-editor-container .shape-editor > div:hover {
  cursor: pointer;
}
input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #4c5b5c;
  border-radius: 15px;
  height: 15px;
  width: 15px;
  margin-top: -5px;
}
input[type=range]::-webkit-slider-runnable-track {
  background-color: #ced2d2;
  height: 5px;
}
.red input[type=range]::-webkit-slider-thumb {
  background-color: #ff715b;
}
.green input[type=range]::-webkit-slider-thumb {
  background-color: #bced09;
}
.blue input[type=range]::-webkit-slider-thumb {
  background-color: #2f52e0;
}
input[type=range]:focus {
  outline: none;
}
select.vizzy-dropdown {
  -webkit-appearance: none;
  /*REMOVES DEFAULT CHROME & SAFARI STYLE*/
  -moz-appearance: none;
  border: 0 !important;
  /*REMOVES BORDER*/
  background-color: #f9cb40;
  box-sizing: border-box;
  color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: 'Nunito';
  font-size: 14px;
  padding: 10px;
  width: 90%;
  cursor: pointer;
  background: #f9cb40 url('../img/dropdown-carret.svg') no-repeat right center;
}
select.vizzy-dropdown.blue {
  background: #2f52e0 url('../img/dropdown-carret.svg') no-repeat right center;
}
.pop-up-container {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
}
.pop-up-container > div {
  background-color: white;
  border: 1px solid #4c5b5c;
  border-radius: 3px;
  padding: 20px;
  width: 400px;
}
.pop-up-container .btn-container {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.share-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.share-container .sharing-nav {
  background-color: white;
  border-bottom: 1px solid #ced2d2;
  padding: 15px;
  position: relative;
  z-index: 50;
}
.share-container .sharing-nav .path h3 {
  display: inline-block;
  color: #2f52e0;
}
.share-container .sharing-nav .path h3:hover {
  cursor: pointer;
  text-decoration: underline;
}
.sharing {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 50px;
  flex-direction: row;
}
.sharing .left {
  flex: 1;
  flex-direction: column;
}
.sharing .sharing-container {
  display: flex;
  flex: 2;
  flex-direction: column;
}
.sharing .sharing-container .share-card {
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.sharing .sharing-container .share-card .message {
  padding: 10px 0;
}
.sharing .sharing-container .share-card .message .msg {
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
}
.sharing .sharing-container .share-card .message .date {
  font-size: 10px;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  margin-top: 2%;
}
.sharing .sharing-container .share-card .buttons {
  padding: 10px 0;
  text-align: center;
}
.sharing .sharing-container .share-card .buttons .play {
  background-color: #bced09;
  border-radius: 5px;
  color: white;
  display: inline-block;
  padding: 10px 15px;
  margin: auto;
}
.sharing .sharing-container .share-card .buttons .play:hover {
  background-color: #a9d408;
  cursor: pointer;
}
.sharing .sharing-container .share-card .buttons .save {
  background-color: #385ae0;
  border-radius: 5px;
  color: white;
  display: inline-block;
  padding: 10px 15px;
  margin: auto;
}
.sharing .sharing-container .share-card .buttons .save:hover {
  background-color: #2f52e0;
  cursor: pointer;
}
.sharing .right {
  flex: 1;
  flex-direction: column;
}
.music-viewer-container {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  padding: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.music-viewer-container .music-viewer {
  background-color: white;
  border: 1px #ced2d2 solid;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px;
}
.music-viewer-container .music-viewer .music-viewer-header {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
}
.music-viewer-container .music-viewer .music-viewer-header > * {
  display: inline-block;
}
.music-viewer-container .music-viewer .viewer-options {
  width: 100%;
}
.music-viewer-container .music-viewer .viewer-options .viewer-state {
  width: 100%;
}
.music-viewer-container .music-viewer .viewer-options .music-header {
  box-shadow: 0 5px 3px -5px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  width: 100%;
  padding: 0 5px;
}
.music-viewer-container .music-viewer .viewer-options .music-header div {
  flex: 1;
}
.music-viewer-container .music-viewer .music {
  box-sizing: border-box;
  flex: 1;
  width: 100%;
  overflow-y: auto;
}
.music-viewer-container .music-viewer .music .song {
  box-sizing: border-box;
  border-bottom: 1px #ced2d2 solid;
  display: flex;
  flex-direction: row;
  height: auto;
  align-items: center;
  padding: 10px 5px;
  width: 100%;
}
.music-viewer-container .music-viewer .music .song div {
  flex: 1;
  display: flex;
  align-items: center;
}
.music-viewer-container .music-viewer .music .song div img {
  display: inline-block;
  height: 25px;
  width: auto;
}
.music-viewer-container .music-viewer .music .song div p {
  display: -webkit-inline-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  padding-right: 15px;
}
.music-viewer-container .music-viewer .music .song .title p {
  padding-left: 15px;
}
.music-viewer-container .music-viewer .music .song:hover {
  background-color: #ced2d2;
  cursor: pointer;
}
.music-bar-container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 99;
}
.music-bar-container .music-select {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.music-bar-container .music-select p {
  margin-bottom: 20px;
  width: 40%;
  text-align: center;
}
.music-bar {
  display: flex;
  height: 100px;
  flex-direction: column;
  position: relative;
  z-index: 200;
}
.music-bar .music-tracker {
  background-color: #eee;
  height: 7px;
  width: 100%;
}
.music-bar .music-tracker .drag-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
}
.music-bar .music-tracker .inside-tracker {
  background-color: #f9cb40;
  height: 100%;
  position: relative;
}
.music-bar .music-tracker .inside-tracker .tracker-decorator {
  background-color: #f9cb40;
  border-radius: 0px;
  position: absolute;
  height: 7px;
  right: 0px;
  top: 0px;
  width: 7px;
  transition: all .5s;
}
.music-bar .music-tracker:hover .tracker-decorator {
  border-radius: 15px;
  height: 15px;
  right: -8px;
  top: -4px;
  width: 15px;
}
.music-bar .music-info {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  -webkit-user-select: none;
}
.music-bar .music-info .song-info {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}
.music-bar .music-info .song-info h5 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}
.music-bar .music-info .song-info p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}
.music-bar .music-info .song-info .album-img {
  height: 93px;
  width: auto;
}
.music-bar .music-info .song-info .info {
  flex: 1;
  margin-left: 20px;
}
.music-bar .music-info .music-controls {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.music-bar .music-info .music-controls svg {
  display: inline-block;
  fill: #f9cb40;
  height: 60px;
  margin: 0px 5px;
}
.music-bar .music-info .music-controls .navigation {
  height: 40px;
}
.music-bar .music-info .music-controls svg:hover circle {
  fill: #dfb53e;
}
.music-bar .music-info .music-options {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.app {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
}
ellipse {
  transition: all .1s;
}
rect {
  transition: all .1s;
}
.vizzy {
  display: flex;
  flex: 1;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
.vizzy input[type="text"],
.vizzy textarea {
  border: 1px solid #ced2d2;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-block;
  font-family: 'OpenSans';
  font-size: 18px;
  padding: 5px;
  text-align: center;
  width: 100%;
}
.vizzy input[type="text"]:focus,
.vizzy textarea:focus {
  outline: none;
  border: 1px solid #2f52e0;
}
.vizzy textarea {
  text-align: left;
}
.panel-shadow {
  box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.75);
}
.blue {
  color: #2f52e0;
}
.slide-enter-active {
  transition: all .5s;
  position: relative;
  z-index: 1;
}
.slide-leave-active {
  transition: all .5s;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.slide-enter,
.slide-leave-to {
  transform: translateX(500px);
  opacity: 0;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  border-radius: 3px;
  padding: 1px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #2f52e0;
}
