@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'NunitoExtra';
  src: url('fonts/Nunito-ExtraBold.ttf');
}
@font-face {
  font-family: 'NunitoBold';
  src: url('fonts/Nunito-Bold.ttf');
}
h1 {
  font-family: 'NunitoExtra';
  font-size: 36px;
}
h2 {
  font-family: 'NunitoBold';
  font-size: 32px;
}
h3 {
  font-family: 'NunitoBold';
  font-size: 24px;
}
h4 {
  font-family: 'NunitoBold';
  font-size: 22px;
}
h5 {
  font-family: 'NunitoBold';
  font-size: 18px;
}
.panel-btn {
  border: 3px solid #2f52e0;
  border-radius: 5px;
  color: #2f52e0;
  display: inline-block;
  margin-top: 15px;
  padding: 10px 30px;
}
.panel-btn:hover {
  background-color: #2f52e0;
  color: white;
  cursor: pointer;
}
h6 {
  font-family: 'NunitoBold';
  font-size: 16px;
  text-transform: uppercase;
}
p {
  font-family: 'OpenSans';
  font-weight: 18px;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
.app {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.vizzy {
  display: flex;
  flex: 1;
  width: 100%;
}
.vizzy .editor {
  display: flex;
  flex: 1;
  flex-direction: row;
}
.vizzy .editor div {
  position: relative;
}
.vizzy .editor .shape-selector {
  height: 100%;
  width: 200px;
  border-right: solid #ced2d2 1px;
  background-color: white;
  z-index: 2;
}
.vizzy .editor .canvas-container {
  flex: 1;
  background-color: #ced2d2;
  z-index: 1;
}
.vizzy .editor .shape-editor {
  height: 100%;
  width: 200px;
  border-left: solid #ced2d2 1px;
  background-color: white;
  z-index: 2;
}
.music-bar-container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
}
.music-bar-container .music-select {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.music-bar {
  display: flex;
  height: 100px;
  flex-direction: column;
}
.music-bar .music-tracker {
  background-color: #eee;
  height: 7px;
  width: 100%;
}
.music-bar .music-tracker .drag-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
}
.music-bar .music-tracker .inside-tracker {
  background-color: #f9cb40;
  height: 100%;
  position: relative;
}
.music-bar .music-tracker .inside-tracker .tracker-decorator {
  background-color: #f9cb40;
  border-radius: 0px;
  position: absolute;
  height: 7px;
  right: 0px;
  top: 0px;
  width: 7px;
  transition: all .5s;
}
.music-bar .music-tracker:hover .tracker-decorator {
  border-radius: 15px;
  height: 15px;
  right: -8px;
  top: -4px;
  width: 15px;
}
.music-bar .music-info {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  -webkit-user-select: none;
}
.music-bar .music-info .song-info {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}
.music-bar .music-info .song-info h5 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-user-select: none;
}
.music-bar .music-info .song-info p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-user-select: none;
}
.music-bar .music-info .song-info .album-img {
  height: 93px;
  width: auto;
}
.music-bar .music-info .song-info .info {
  flex: 1;
  margin-left: 20px;
}
.music-bar .music-info .music-controls {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.music-bar .music-info .music-controls svg {
  display: inline-block;
  fill: #f9cb40;
  height: 60px;
  margin: 0px 5px;
}
.music-bar .music-info .music-controls .navigation {
  height: 40px;
}
.music-bar .music-info .music-controls svg:hover circle {
  fill: #dfb53e;
}
.music-bar .music-info .music-options {
  flex: 1;
}
.panel-shadow {
  box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.75);
}
