@import 'colors.less';

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'NunitoExtra';
    src: url('../fonts/Nunito-ExtraBold.ttf');
}

@font-face {
    font-family: 'NunitoBold';
    src: url('../fonts/Nunito-Bold.ttf');
}

h1 {
    font-family: 'NunitoExtra';
    font-size: 36px;
}

h2 {
    font-family: 'NunitoBold';
    font-size: 32px;
}

h3 {
    font-family: 'NunitoBold';
    font-size: 24px;
}

h4 {
    font-family: 'NunitoBold';
    font-size: 22px;
}

h5 {
    font-family: 'NunitoBold';
    font-size: 18px;
}

h6 {
    font-family: 'NunitoBold';
    font-size: 16px;
    text-transform: uppercase;
}

p {
    font-family: 'OpenSans';
    font-weight: 18px;
}

.panel-btn {
    border: 3px solid @vizzy-blue;
    border-radius: 5px;
    color: @vizzy-blue;
    display: inline-block;
    padding: 10px 30px;
}


.panel-btn:hover {
    background-color: @vizzy-blue;
    color: white;
    cursor: pointer;
}

.agree-btn {
    background-color: @vizzy-green;
    border-radius: 5px;
    color: white;
    display: inline-block;
    padding: 10px 15px;
    margin: 0;
}

.agree-btn:hover {
    background-color: darken(@vizzy-green, 5%);
    cursor: pointer;
}

.disagree-btn {
    background-color: @vizzy-red;
    border-radius: 5px;
    color: white;
    display: inline-block;
    padding: 10px 15px;
    margin: 0;
}

.disagree-btn:hover {
    background-color: darken(@vizzy-red, 5%);
    cursor: pointer;
}

.edit-btn {
    background-color: @vizzy-yellow;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
}

.wide {
    padding: 10px 30px;
}

.edit-btn:hover {
    background-color: darken(@vizzy-yellow, 10%);
    cursor: pointer;
}

.small {
    padding: 0px 5px;
}
