@import 'fonts.less';

* {
	margin: 0;
	padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.app {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

//Vizzy Editor Styles -------------------------------------------

.vizzy {
	display: flex;
	flex: 1;
	width: 100%;

	.editor {
		display: flex;
		flex: 1;
		flex-direction: row;

		div {
			position: relative;
		}

		.shape-selector {
			height: 100%;
			width: 200px;
			border-right: solid @vizzy-lightBlack 1px;
			background-color: white;
			z-index: 2;
		}

		.canvas-container {
			flex: 1;
			background-color: @vizzy-lightBlack;
			z-index: 1;
		}

		.shape-editor {
			height: 100%;
			width: 200px;
			border-left: solid @vizzy-lightBlack 1px;
			background-color: white;
			z-index: 2;
		}
	}
}

//Music Bar Styles --------------------------------------------------------
.music-bar-container {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 3;

	.music-select {
		display: flex;
		flex: 1;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		p {
			margin-bottom: 20px;
			width: 40%;
			text-align: center;
		}
	}
}

.music-viewer-container {
	box-sizing: border-box;
	background-color: rgba(0,0,0,.7);
	display: flex;
	padding: 30px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;

	.music-viewer {
		background-color: white;
		border: 1px @vizzy-lightBlack solid;
		box-sizing: border-box;
		display: flex;
		flex: 1;
		flex-direction: column;
		padding: 20px;

		.music-viewer-header {
			display: flex;
			margin-bottom: 15px;
			justify-content: space-between;

			> * {
				display: inline-block;
			}

			.panel-btn {
			}
		}

		.viewer-options {
			width: 100%;

			.viewer-state {
				width: 100%;
			}

			.music-header {
				box-shadow: 0 5px 3px -5px rgba(0,0,0,.75);
				display: flex;
				flex-direction: row;
				margin-bottom: 5px;
				width: 100%;
				padding: 0 5px;

				div {
					flex: 1;
				}
			}
		}

		.music {
			box-sizing: border-box;
			flex: 1;
			width: 100%;
			overflow-y: auto;

			.song {
				box-sizing: border-box;
				border-bottom: 1px @vizzy-lightBlack solid;
				display: flex;
				flex-direction: row;
				height: auto;
				align-items: center;
				padding: 10px 5px;
				width: 100%;

				div {
					flex: 1;
					display: flex;
					align-items: center;

					img {
						display: inline-block;
						height: 25px;
						width: auto;
					}

					p {
						display: -webkit-inline-box;
						-webkit-line-clamp: 1;
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis;
						-webkit-user-select: none;
						padding-right: 15px;
					}
				}

				.title p {
					padding-left: 15px;
				}
			}

			.song:hover {
				background-color: @vizzy-lightBlack;
				cursor: pointer;
			}
		}
	}
}

.music-bar {
    display: flex;
    height: 100px;
    flex-direction: column;
	position: relative;
	z-index: 200;

    .music-tracker {
        background-color: #eee;
        height: 7px;
        width: 100%;

		.drag-container {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 999;
			width: 100%;
			height: 100%;
		}

		.inside-tracker {
			background-color: @vizzy-yellow;
			height: 100%;
			position: relative;

			.tracker-decorator {
				background-color: @vizzy-yellow;
				border-radius: 0px;
				position: absolute;
				height: 7px;
				right: 0px;
				top: 0px;
				width: 7px;
				transition: all .5s;
			}
		}
    }

	.music-tracker:hover .tracker-decorator {
		border-radius: 15px;
		height: 15px;
		right: -8px;
		top: -4px;
		width: 15px;
	}

    .music-info {
        display: flex;
        flex: 1;
        flex-direction: row;
        align-items: center;
		-webkit-user-select: none;

        .song-info {
            display: flex;
            flex: 1;
            flex-direction: row;
            align-items: center;

			h5 {
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
				-webkit-user-select: none;
			}

			p {
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
				-webkit-user-select: none;
			}

            .album-img {
                height: 93px;
                width: auto;
            }

            .info {
                flex: 1;
                margin-left: 20px;
            }
        }

        .music-controls {
			display: flex;
            flex: 1;
			justify-content: center;
			align-items: center;
			flex-direction: row;

			svg {
				display: inline-block;
				fill: @vizzy-yellow;
				height: 60px;
				margin: 0px 5px;
			}

			.navigation {
				height: 40px;
			}

			svg:hover circle {
				fill: #dfb53e;
			}
        }

        .music-options {
            flex: 1;
			display: flex;
			justify-content: flex-end;
			padding-right: 20px;
        }
    }
}

//Helper styles ---------------------------------------------------

.panel-shadow {
	box-shadow: 0 0 10px -1px rgba(0,0,0,.75);
}

.blue {
	color: @vizzy-blue;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
	border: 3px solid @vizzy-blue;
	padding: 1px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: @vizzy-blue;
}
