@import 'fonts.less';

* {
	margin: 0;
	padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
	overflow-x: hidden;
}

.app {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
	overflow-x: hidden;
	position: relative;
}

//Vizzy Editor Styles -------------------------------------------

.vizzy {
	display: flex;
	flex: 1;
	position: relative;
	width: 100%;
	overflow-x: hidden;

	.home {
		display: flex;
		padding: 20px;
		overflow: auto;
		flex-direction: column;
		width: 100%;

		.vizzy-select-options {
			padding-left: 15px;
		}

		.vizzies {
			display: flex;
			width: 100%;
			flex-direction: row;
			flex-wrap: wrap;

			.vizzy-container {
				box-sizing: border-box;
				padding: 15px;
				width: 33%;

				.vizzy-picture {
					display: flex;
					flex-direction: column;
					height: 0;
					border: 1px solid @vizzy-lightBlack;
					margin-bottom: 10px;
					padding-bottom: 60%;
					position: relative;
					width: 100%;

					.vizzy-options {
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						visibility: hidden;

						.vizzy-options-wrapper {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 100%;
							height: 100%;

							h3 {
								margin: 0 5px;
							}
						}
					}
				}

				.vizzy-picture:hover {
					.vizzy-options {
						visibility: visible;
					}
				}
			}
		}
	}

	.editor-container {
		display: flex;
		flex-direction: column;
		width: 100%;

		.editor-nav {
			background-color: @vizzy-blue;
			padding: 15px;
			position: relative;
			z-index: 50;

			.path {
				h3 {
					display: inline-block;
					color: white;
				}

				h3:hover {
					cursor: pointer;
					text-decoration: underline;
				}
			}
		}
	}

	.canvas-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;

		.canvas {
			background-color: white;
			width: 100%;
			padding-bottom: 56.25%;
			position: relative;
			border: 1px solid @vizzy-lightBlack;

			.stretchVG {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;

				.vizzy-svg {
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	.editor {
		display: flex;
		flex: 1;
		flex-direction: row;

		> div {
			box-sizing: border-box;
			position: relative;

		}

		.shape-selector {
			height: 100%;
			width: 200px;
			border-right: solid @vizzy-lightBlack 1px;
			background-color: white;
			padding: 15px;
			z-index: 2;

			h3:hover {
				cursor: pointer;
			}
		}

		.canvas-container {
			flex: 1;
			background-color: @vizzy-lightBlack;
			padding: 15px;
			z-index: 1;
		}

		.shape-editor-container {
			height: 100%;
			width: 200px;
			border-left: solid @vizzy-lightBlack 1px;
			background-color: white;
			z-index: 2;
			overflow: auto;

			.shape-editor {
				> div {
					padding: 15px;
					border-bottom: solid @vizzy-lightBlack 1px;
				}

				>div:hover {
					cursor: pointer;
				}
			}
		}
	}
}

//Music Bar Styles --------------------------------------------------------
.music-bar-container {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 99;

	.music-select {
		display: flex;
		flex: 1;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		p {
			margin-bottom: 20px;
			width: 40%;
			text-align: center;
		}
	}
}

.music-viewer-container {
	box-sizing: border-box;
	background-color: rgba(0,0,0,.7);
	display: flex;
	padding: 30px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;

	.music-viewer {
		background-color: white;
		border: 1px @vizzy-lightBlack solid;
		box-sizing: border-box;
		display: flex;
		flex: 1;
		flex-direction: column;
		padding: 20px;

		.music-viewer-header {
			display: flex;
			margin-bottom: 15px;
			justify-content: space-between;

			> * {
				display: inline-block;
			}

			.panel-btn {
			}
		}

		.viewer-options {
			width: 100%;

			.viewer-state {
				width: 100%;
			}

			.music-header {
				box-shadow: 0 5px 3px -5px rgba(0,0,0,.75);
				display: flex;
				flex-direction: row;
				margin-bottom: 5px;
				width: 100%;
				padding: 0 5px;

				div {
					flex: 1;
				}
			}
		}

		.music {
			box-sizing: border-box;
			flex: 1;
			width: 100%;
			overflow-y: auto;

			.song {
				box-sizing: border-box;
				border-bottom: 1px @vizzy-lightBlack solid;
				display: flex;
				flex-direction: row;
				height: auto;
				align-items: center;
				padding: 10px 5px;
				width: 100%;

				div {
					flex: 1;
					display: flex;
					align-items: center;

					img {
						display: inline-block;
						height: 25px;
						width: auto;
					}

					p {
						display: -webkit-inline-box;
						-webkit-line-clamp: 1;
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis;
						-webkit-user-select: none;
						padding-right: 15px;
					}
				}

				.title p {
					padding-left: 15px;
				}
			}

			.song:hover {
				background-color: @vizzy-lightBlack;
				cursor: pointer;
			}
		}
	}
}

.music-bar {
    display: flex;
    height: 100px;
    flex-direction: column;
	position: relative;
	z-index: 200;

    .music-tracker {
        background-color: #eee;
        height: 7px;
        width: 100%;

		.drag-container {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 999;
			width: 100%;
			height: 100%;
		}

		.inside-tracker {
			background-color: @vizzy-yellow;
			height: 100%;
			position: relative;

			.tracker-decorator {
				background-color: @vizzy-yellow;
				border-radius: 0px;
				position: absolute;
				height: 7px;
				right: 0px;
				top: 0px;
				width: 7px;
				transition: all .5s;
			}
		}
    }

	.music-tracker:hover .tracker-decorator {
		border-radius: 15px;
		height: 15px;
		right: -8px;
		top: -4px;
		width: 15px;
	}

    .music-info {
        display: flex;
        flex: 1;
        flex-direction: row;
        align-items: center;
		-webkit-user-select: none;

        .song-info {
            display: flex;
            flex: 1;
            flex-direction: row;
            align-items: center;

			h5 {
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
				-webkit-user-select: none;
			}

			p {
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
				-webkit-user-select: none;
			}

            .album-img {
                height: 93px;
                width: auto;
            }

            .info {
                flex: 1;
                margin-left: 20px;
            }
        }

        .music-controls {
			display: flex;
            flex: 1;
			justify-content: center;
			align-items: center;
			flex-direction: row;

			svg {
				display: inline-block;
				fill: @vizzy-yellow;
				height: 60px;
				margin: 0px 5px;
			}

			.navigation {
				height: 40px;
			}

			svg:hover circle {
				fill: #dfb53e;
			}
        }

        .music-options {
            flex: 1;
			display: flex;
			justify-content: flex-end;
			padding-right: 20px;
        }
    }
}

//Helper styles ---------------------------------------------------

.panel-shadow {
	box-shadow: 0 0 10px -1px rgba(0,0,0,.75);
}

.blue {
	color: @vizzy-blue;
}

.slide-enter-active,.slide-leave-active  {
  	transition: all .5s;
	position: absolute;
	width: 100%;
	height: 100%;
  	z-index: 2;
}

.slide-enter, .slide-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  	transform: translateX(500px);
	opacity: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
	padding: 1px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: @vizzy-blue;
}
